<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="FCKEditor:BasePath" value="~/fckeditor/"/>
  <add key="FCKeditor:UserFilesPath" value="~/upload" />
  <add key="EcommerceConnectionString" value="Ecommerce" />
  <add key="PhotoAppConnectionString" value="Site" />
  <add key="AutoCompleteConnectionString" value="Site" />
  <add key="CMSTemplates" value="Subpage|templates/subpage.aspx" />
  <add key="DeluxeProductId" value="a8fee54f-f128-48bd-b69a-c972df414717"/>
  <add key="CommandTimeOut" value="200" />

  <!-- Can Overide the default if necessary -->
  <!-- <add key="ProductImagebMaxWidth" value="800" />
  <add key="ProductImageMaxHeight" value="800" />-->
  <add key="ProductImageThumbMaxWidth" value="160" />
  <add key="ProductImageThumbMaxHeight" value="160" />

  <!-- Order Age threshold -->
  <add key="OrderAgeInDays" value="10"/>

  <!-- Upload Instance Debug -->
  <add key="UseDebugUploadInstance" value="True" />

  <!-- Used for PhotoApp.Web.Export (export customers) -->
  <add key="UseDevelopmentDB" value="True" />

  <!-- Java Variables -->
  <add key="JavaErrorUrl" value="services.mugsyclicks.com/javaerror/" />
  <!--<add key="JavaWebserviceUrl" value="dev.services.mugsyclicks.com/ImageServices.asmx" />-->
  <add key="JavaWebserviceUrl" value="http://localhost:2246/Imageservices.asmx" />

  <!-- Bay Photo Status XML full path -->
  <add key="BayPhotoStatusXmlPath" value="C:\_HSC\MugsyClicks\Bay\"/>

  <add key="SiteName" value="PhotoApp" lockItem="true" />
  <add key="FromEmail" value="pronob.mukharjee@sofmen.com" />
  <!--<add key="FromEmailName" value="NovelProjects Support" />-->
  <add key="ToEmail" value="pronob.mukharjee@sofmen.com" />
  <add key="UseSSL" value="True" />
  <add key="IgnoreHosts" value="localhost, dev.admin.mugsyclicks.com" lockItem="true" />
  <add key="SupressCodes" value="404" lockItem="true" />
  <add key="IgnoreErrors" value="System.IO.FileNotFoundException" lockItem="true" />
  <add key="CookieName" value="admin.mugsyclicks.com" lockItem="true" />
  <add key="MainDomain" value="admin.mugsyclicks.com" lockItem="true" />
  <add key="IgnoreRedirects" value="localhost, dev.admin.mugsyclicks.com" lockItem="true" />

  <add key="ExternalXmlServices.OrdersApi.orders" value="http://services.mugsyclicks.com/orders.asmx"/>

    <!--Image Match EMail Addresses-->
    <!--<add key="ImageMatchToMail" value="Schools@Bayphoto.com;Kaushalendra.Pandey@Sofmen.Com"/>-->
    <add key="ImageMatchToMail" value="Kaushalendra.Pandey@Sofmen.Com"/>
    <!--<add key="ImageMatchCCMail" value="Prod_Dept@MugsyClicks.com"/>
    <add key="ImageMatchBCCMail" value="accounts@mugsyclicks.com"/>-->
    <add key="ImageMatchCCMail" value="Kaushalendra.Pandey@Sofmen.Com"/>
    <add key="ImageMatchBCCMail" value="Kaushalendra.Pandey@Sofmen.Com"/>
    <add key="AdminBaseURL" value="http://dev.admin.mugsyclicks.com" />


  <!-- Google Calendar Config Settings-->
  <add key="GCalJobsUser" value="jayant.roy@sofmen.com" />
  <add key="GCalJobsPassword" value="password"/>
  <add key="GCalJobsPath" value="http://www.google.com/calendar/feeds/mugsyclicks.com_d6v6vbseunfpmb4h6vflpnqo5g%40group.calendar.google.com/private/full"/>

  <!--Added by sofmen for Jira issue Mugsy-77-->
  <add key="ShootCalender" value="http://www.google.com/calendar/feeds/sofmen.com_7gke0g3pbv9kdlh137f0se5qns@group.calendar.google.com/private/full"/>
  <add key="AccountsCalender" value="http://www.google.com/calendar/feeds/sofmen.com_m6i7c30cra3p4puirnoc4oa998@group.calendar.google.com/private/full"/>
  
</appSettings>