<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="OnGoingInternalTesting" value="true"/>
  <add key="AllowUserAccount" value="sofmen" />


  <add key="ReleasePageUserName" value="sofmen"/>
  <add key="FCKEditor:BasePath" value="~/fckeditor/" />
  <add key="FCKeditor:UserFilesPath" value="~/ckeditor/UploadedImages" />
  <add key="CkEditorAdminBaseURL" value="http://localhost:51303/ckeditor/UploadedImages/" />
  <add key="EcommerceConnectionString" value="Ecommerce" />
  <add key="PhotoAppConnectionString" value="Site" />
  <add key="AutoCompleteConnectionString" value="Site" />
  <add key="CMSTemplates" value="Subpage|templates/subpage.aspx" />
  <add key="DeluxeProductId" value="a8fee54f-f128-48bd-b69a-c972df414717" />
  <add key="CommandTimeOut" value="200" />
  <add key="ProductImageThumbMaxWidth" value="160" />
  <add key="ProductImageThumbMaxHeight" value="160" />
  <add key="OrderAgeInDays" value="10" />
  <add key="UseDebugUploadInstance" value="True" />
  <add key="JavaErrorUrl" value="http://localhost:2246/javaerror/" />
  <add key="JavaWebserviceUrl" value="http://localhost:2246/Imageservices.asmx" />
  <add key="BayPhotoStatusXmlPath" value="C:\_HSC\MugsyClicks\Bay\" />
  <add key="SiteName" value="PhotoApp" lockItem="true" />
  <add key="FromEmail" value="mahesh.soni@sofmen.com" />
  <add key="ToEmail" value="mahesh.soni@sofmen.com" />
  <add key="TaxMail" value="mahesh.soni@sofmen.com" />
  <add key="UseSSL" value="True" />
  <add key="IgnoreHosts" value="localhost, dev.admin.mugsyclicks.com"
    lockItem="true" />
  <add key="SupressCodes" value="404" lockItem="true" />
  <add key="IgnoreErrors" value="System.IO.FileNotFoundException"
    lockItem="true" />
  <add key="CookieName" value="admin.mugsyclicks.com" lockItem="true" />
  <add key="MainDomain" value="admin.mugsyclicks.com" lockItem="true" />
  <add key="IgnoreRedirects" value="localhost, dev.admin.mugsyclicks.com"
    lockItem="true" />
  <add key="ExternalXmlServices.OrdersApi.orders" value="http://localhost:2246/orders.asmx" />
  <add key="ImageMatchToMail" value="mahesh.soni@Sofmen.Com" />
  <add key="ImageMatchCCMail" value="mahesh.soni @Sofmen.Com" />
  <add key="ImageMatchBCCMail" value="mahesh.soni@Sofmen.Com" />
  <add key="ImageMatchToMailHQ" value="sparsh.gupta@Sofmen.Com" />
  <add key="ImageMatchCCMailHQ" value="sparsh.gupta@Sofmen.Com" />
  <add key="ImageMatchBCCMailHQ" value="sparsh.gupta@Sofmen.Com" />
  <add key="ImageMatchFromMail" value="info@mugsyclicks.com" />
  <add key="FrontBaseURL" value="http://localhost:20284/web" />
  <add key="AdminBaseURL" value="http://localhost:57628/admin" />
  <add key="GCalJobsUser" value="mahesh.soni@sofmen.com" />
  <add key="GCalJobsPassword" value="password" />
  <add key="GCalJobsPath" value="http://www.google.com/calendar/feeds/mugsyclicks.com_d6v6vbseunfpmb4h6vflpnqo5g%40group.calendar.google.com/private/full" />
  <add key="ShootCalender" value="http://www.google.com/calendar/feeds/sofmen.com_7gke0g3pbv9kdlh137f0se5qns@group.calendar.google.com/private/full" />
  <add key="AccountsCalender" value="http://www.google.com/calendar/feeds/sofmen.com_m6i7c30cra3p4puirnoc4oa998@group.calendar.google.com/private/full" />
  <add key="AccountsMailIds" value="mahesh.soni@sofmen.com" />
  <add key="SuperAdminMailds" value="mahesh.soni@sofmen.com" />
  <add key="IsSendAccountsDeleteMails" value="True" />
  <add key="IsSendSuperAdminDeleteMails" value="True" />
  <add key="DBLogEntry" value="true" />
  <add key="server" value="live" />
  <add key="agreement_approval_mail" value="mahesh.soni@sofmen.com" />
  <add key="UseDevelopmentDB" value="true" />
  <add key="DBName" value="PhotoApp" />
  <add key="BayPhotoFTPServer" value="ftp://mugsydb.cloudapp.net/BayFTP/" />
  <add key="BayPhotoFTPUser" value="MugsyDBAdmin" />
  <add key="BayPhotoFTPPassword" value="14Mug@DB!" />
  <add key="DigitalPhotosNames" value="BAY_UNIT_DIGIFILE_HRDB1,BAY_UNIT_DIGIFILE_HRDB2,BAY_UNIT_DIGIFILE_HRDB6,BAY_UNIT_DIGIFILE_LRDB1,BAY_UNIT_DIGIFILE_LRDB2,BAY_UNIT_DIGIFILE_LRDB6,RETOUCH_Basic,Retouch_Eyes,RETOUCH_Makeover,BAY_DIGIFILE_HRCD1,BAY_DIGIFILE_HRCD2,BAY_DIGIFILE_HRCD6,BAY_UNIT_DIGIFILE_HRCD1,BAY_UNIT_DIGIFILE_HRCD2,BAY_UNIT_DIGIFILE_HRCD6,BAY_DIGIFILE_HRDB1,BAY_DIGIFILE_HRDB2,BAY_DIGIFILE_HRDB6,BAY_DIGIFILE_LRDB1,BAY_DIGIFILE_LRDB2,BAY_DIGIFILE_LRDB6" />
  <add key="BackColor" value="#FCE1A5" />
  <add key="AccountEmailFrom" value="Accounts@mugsyClicks.com" />
  <add key="AccountEmailDisplayName" value="MugsyClicks" />
  <add key="ServiceOrderEmailTo" value="pronob.mukharjee@sofmen.com" />
  <add key="ServiceOrderEmailcc" value="mahesh.soni@sofmen.com" />
  <add key="ServiceOrderEmailbcc" value="mahesh.soni@sofmen.com" />
  <add key="ServiceOrderEmailFrom" value="mahesh.soni@sofmen.com" />
  <add key="ServiceOrderEmailFromName" value="Mahesh Soni " />
  <add key="OrderVehicleEmailTo" value="mahesh.soni@sofmen.com" />
  <add key="OrderVehicleEmailcc" value="mahesh.soni@sofmen.com" />
  <add key="OrderVehicleEmailbcc" value="mahesh.soni@sofmen.com" />
  <add key="OrderVehicleEmailFrom" value="mahesh.soni@sofmen.com" />
  <add key="OrderVehicleEmailFromName" value="Mahesh" />
  <add key="LabOrderEmailToOption" value="Prod_Dept@MugsyClicks.com" />
  <add key="LabOrderEmailTo" value="manoj.shrivastava@sofmen.com" />
  <add key="LabOrderEmailcc" value="manoj.shrivastava@sofmen.com" />
  <add key="LabOrderEmailbcc" value="mahesh.soni@sofmen.com" />
  <add key="LabOrderEmailFrom" value="mahesh.soni@sofmen.com" />
  <add key="LabOrderEmailFromName" value="mahesh" />
  <add key="s3AccessKey" value="14E6DH6Q5942DQ5452R2" />
  <add key="s3AccessSecret" value="ikS4wQMTNjjWghjpV9MHgkSC0p2FK9Q5luXXjzSw" />
  <add key="s3BucketName" value="photoapp" />
  <add key="s3AccessKeyDev" value="14E6DH6Q5942DQ5452R2" />
  <add key="s3AccessSecretDev" value="ikS4wQMTNjjWghjpV9MHgkSC0p2FK9Q5luXXjzSw" />
  <add key="s3BucketNameDev" value="devphotoapp" />
  <add key="ServiceProductUploadBucket" value="mugsydashboarduploads-dev/school" />
  <add key="sftpUserName" value="sftpmugsyclicks" />
  <add key="SftpHost" value="sftp-imageupload.mugsyclicks.com" />
  <add key="SftpPort" value="22" />
  <!--Lab Submission service product info-->
  <add key="ImageUploadCode" value="MUGLOAD" />
  <add key="ImageUploadID" value="10d59e82-68d4-471f-97d9-37cd7df4b42a" />
  <add key="mugsy_api" value="http://localhost:6525/api/" />
  <add key="DIRECTORY_PAGEVAL" value="25" />
  <add key="DIRECTORY_STICKY_PAGEVAL" value="18" />
  <add key="ServiceProductFeeType" value="ADMINCD-Flat fee|SUB*,YBCD-Flat fee|SUB*,YBCD_GRP-Flat fee|SUB*,EDIRECTORY-Flat fee|BIND*,EPictorial-Flat fee|BIND*,HRCD-Flat fee|SUB*,DIRECTORY-Subject fee #25|BIND*,DIRECTORYSTICKY-Subject fee #18|BIND*,IDPLAST-Per subject|IDHOLE*,IDPLASTREORDER-Single service order|IDHOLE*,PRINCALB-Per Group|Bind*" />
  <add key="ContributionReplyToEmail" value="mesh.soni@gmail.com" />
  <add key="isCalenderActive" value="false" />

  <add key="DefaultSMTPEmail" value="mesh.soni@gmail.com" />
  <add key="DefaultEmailScheduleChunkSize" value="50" />
  <add key="DefaultAdditionEmail" value="mugsyemailtest@gmail.com" />
  <add key="IsBunchEnable" value="false" />
  <add key="DashboardUploads" value="mugsydashboarduploads-dev"/>
  <add key="S3AccessKeyId" value="AKIAI475R2SRYG565MNA"/>
  <add key="S3SecretKey" value="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"/>
  <add key="StaffEmailReplyTo" value="mahesh.soni@sofmen.com"/>
  <!--Service Product Year Book Image/datatype-->
  <add key="ServiceProductImageData" value="PSPA STANDARD,Other"/>
  <add key="StaffManagerRoleID" value="2C9CA26B-84A6-4373-9C16-9A739FED3E2A"/>
  <add key="JobReminderEmailKey" value="81892cf5-fb2f-4a3e-bba1-e77abd149ad7"/>
  <add key="DigiOrderNotificationEmail" value="manoj.shrivastava@sofmen.com"/>
  <add key="DigiOrderNotificationName" value="ManojS"/>
  <add key="DigitalFileEmailTemplate" value="61535f74-9a67-4c74-b0da-e74e36f66aa1"/>
  <add key="JobAssignmentAcceptanceNotificationKey" value="81892cf5-fb2f-4a3e-bba1-e77abd149ad6"/>
  <add key="PhotodayFileIdKey" value="81892cf5-fb2f-4a3e-bba1-e77abd149ad1"/>
  <add key="SubjectDataReminderRequestKey" value="81892CF5-FB2F-4A3E-BBA1-E77ABD149AD8"/>
  <add key="SubjectDataReminderRequestReplyTo" value="prod_dept@mugsyClicks.com"/>
  <add key="SubjectDataReminderRequestCc" value="accounts@mugsyclicks.com,prod_dept@mugsyClicks.com"/>
  <add key="DataUploadEmailNoticeKey" value="81892cf5-fb2f-4a3e-bba1-e77abd149ad9"/>
  <add key="DataUploadEmailFrom" value="Prod_Dept@mugsyclicks.com"/>
  <add key="DataUploadEmailNoticeCc" value="accounts@mugsyclicks.com"/>
  <add key="DataUploadEmailNoticeReplyTo" value=""/>
  <add key="ServiceProductOrderEmailFrom" value="Operations@mugsyclicks.com"/>
  <!--Added by faisal on 11062019-->
  <!--Marketing report added new key for Yearbook deadline and Archive date-->
  <add key="PrePhotoDayKey" value="1CBA74C5-DF25-4CA2-99BE-1EE0B3721B35"/>
  <add key="YearbookChoiceKey" value="8BFD2735-DEF6-45CA-BA96-CA65EAC90167"/>
  <add key="ArchiveDeadlineKey" value="8BFD2735-DEF6-45CA-BA96-CA65EAC90168"/>
  <add key="GiftProductKeyName" value="BAY_Boutique_810"/>
  <add key="ImageReviewFromEmailKey" value="photoEditor@mugsyclicks.com"/>
  <add key="MaintananceNotice" value="~/MaintananceNotification.txt"/>
  <add key="ShowMaintananceNotice" value="false"/>
  <add key="LabSubmissionDueEmailKey" value="81892cf5-fb2f-4a3e-bba1-e77abd149ab0"/>
  <add key="LabSubmissionDueEmailFrom" value="Prod_Dept@mugsyclicks.com"/>

  <add key="AccessCodeRequestApproveKey" value="ba2f1d99-1500-4adc-8dd0-b96082a78ce7"/>
  <add key="AccessCodeRequestCloseKey" value="1b7c3f4a-ba02-4ff4-affa-70ecd37eca03"/>
  <add key="AccessCodeCSEmailKey" value="1b7c3f4a-ba02-4ff4-affa-70ecd37eca01"/>
  <add key="AccessCodeNoImageAvailableApprov" value="6882A9E4-B369-4A70-B348-4C37B3769386"/>
  <add key="AccessCodeNotAvailableClose" value="AD62140B-337A-42FC-AED7-6242096FA506"/>

  <add key="AccessCodeRequestPrePayApprove" value="3F08FEFA-5EC1-4983-8AB5-8F9C573905F5"/>

  <add key="SchoolConfirmationEmailKey" value="61535f74-9a67-4c74-b0da-e74e36f66aa2"/>

  <add key="GracePeriodForCatalogChange" value="2"/>
  <add key="JobReScheduleEmailKey" value="1a437b50-507e-492a-9471-0792d6925dd2"/>
  <add key="JobDateConfirmation" value="1a437b50-507e-492a-9471-0792d6925dd3"/>
  <add key="accountFrom" value="Accounts@mugsyclicks.com"/>
  <add key="StaffTypeSubject" value="FA01035B-E33C-4F18-9B63-3B9F460AD337"/>
  <add key="AWSProfileName" value="default"/>

  <!--Subject Missing Info Request Mail-->
  <add key="SubMissInfoTempEamil" value="D3740F84-B35A-4764-AF31-910E68C36171"/>
  <add key="SubMissEmailFrom" value="accounts@MugsyClicks.com"/>
  <add key="AutoSetImportColumn" value="FirstName,LastName,Grade,Teacher,HomeRoom,Parent Email 1,Parent Email 2,Email"/>
  <add key="DisabledPricingTypeId" value="106"/>
  <add key="ShowCatalogPricingFixedTab" value="4-20-48-105"/>
  <add key="OrderNumberPreFix" value="P"/>

  <!--Subject Request Mail to Lab-->
  <add key="LabSubmissionEmailIndie" value="67546F5E-F6AC-4407-ABC0-764264E3E171"/>
  <add key="LabSubmissionEmailGrp" value="663C3114-FF10-421E-8BD4-ACDE1E7351A1"/>

  <!--Image Upload Mark-->
  <add key="ImageUploadMarkUserIds" value="EC4BAA22-97AB-4A49-98C0-4AF0ACBD9C61,A38F82D9-C165-4680-B8E8-DCC104FEE408,9AD19370-CC2F-457E-8A69-F08C52C512B1,76D1D729-5C34-40D3-BE7A-B9DA7C1320DF,FDB6C441-54D9-4D4E-8DD4-B7BE59A0966B"/>
  <add key="IncompleteDataEmail" value="1A437B50-507E-492A-9471-0792D6925DD4"/>
  <add key="SimplePhotoLink" value="https://www.digitaleventpics.com/SimplePhotoLogin/login.html"/>
  <add key="AcuitySchedule" value="https://secure.acuityscheduling.com/login.php"/>

  <add key="ServiceOrderFileUploadTemplate" value="15B948FB-B700-4A58-A66A-303A35E506F0" />


  <!-- Twilio SMS KEY START -->

  <add key="MugsyMessagingURL" value="http://localhost:14812"/>
  <add key="TwilioSendSMS" value="true"/>
  <add key="TwilioLiveAccountSID" value="AC1845a61242fedef99ca0601fddd524c9"/>
  <add key="TwilioLiveAuthToken" value="9fe450ec05e8c60b0dddcbc8e7b5e39f"/>
  <add key="TwilioTestAccountSID" value="ACe717d5afd7c4401cf4e89d34646620ee"/>
  <add key="TwilioTestAuthToken" value="6a66167d5aa0efbe68792b0ee88793a9"/>
  <add key="TwilioSIDToUse" value="TwilioLiveAccountSID"/>
  <add key="TwilioAuthTokenToUse" value="TwilioLiveAuthToken"/>
  <add key="TwilioUseOnlyVerifiedNumberFromList" value="true"/>
  <add key="TwilioVerifiedNumbersList" value="+918103454196,+919407143281,+919424865944,+919407298499,+14152330151,+14152975831"/>
  <add key="TwilioFromNumberToUse" value="+14159656847"/>
  <add key="TwilioUseWebHook" value="false"/>
  <add key="TwilioWebHookURL" value="messaging.mugsyclicks.com/smswebhook"/>
  <!-- Twilio SMS KEY END -->
  <add key="YearbookAdviserTypeId" value="5584ff72-70c6-44a6-8e3d-683d24e484f6"/>
  <add key="ApprovalEmail" value="15B948FB-B700-4A58-A66A-303A35E506F9"/>
  <add key="ApprovalEmailFrom" value="info@mugsyclicks.com"/>
  <add key="ApprovalProofingEmail" value="15b948fb-b700-4a58-a66a-303a35e506e1"/>
  <add key="IsDashboardLanding" value="false"/>
  <add key="ServiceOrderEmailToOption" value="AutoOrders@mailinator.com"/>
  <add key="ServiceOrderAutoUploadEmailTo" value="MugsyAutoUpload@MugsyClicks.com"/>
  <!--Default Web Catalog-->
  <add key="indieEarlysCat" value="57312d33-13a6-4875-90a2-1a8f40dc2cf1" />
  <add key="indieCurrentCat" value="57312d33-13a6-4875-90a2-1a8f40dc2cf1" />
  <add key="indieArchiveCat" value="aab85f93-a617-4efc-8f92-d6358c718e36" />

  <add key="grpEarlysCat" value="52521320-2644-4a97-a08c-0a3e628fa7fe" />
  <add key="grpCurrentCat" value="52521320-2644-4a97-a08c-0a3e628fa7fe" />
  <add key="grpArchiveCat" value="aab85f93-a617-4efc-8f92-d6358c718e36" />
  <!--Application Stats Setting-->
  <add key="verifyCode" value="Mug18@Clicks"/>
  <add key="HideImportColumn" value="SessionFrom,ImportPrevImages"/>
  <add key="StaffAssignmentEmail" value="a2215587-f964-41ff-b56b-04e3049a44e3"/>
  <add key="StaffReassignmentEmail" value="a1115587-f964-41ff-b56b-04e3049a44e1"/>
  <add key="StaffExpressEmail" value="a2225587-f964-41ff-b56b-04e3049a44e1"/>

  <!--Staff Express Service Order Config Section-->
  <add key="StaffExprProductName" value="STAFF EXPRESS"/>
  <add key="StaffExprLabCode" value="STAFFEXPR"/>
  <add key="StaffExprServiceProductId" value="12A25587-f964-41ff-b56b-04e3049a44e1"/>
  <add key="STFExprInSystem" value="false"/>

  <!--Staff Express service product shipped settings-->
  <add key="STFEXPRESSServiceOrderShippedEmailCc" value="manoj.shrivastava@sofmen.com"/>
  <add key="STFEXPRESSServiceOrderShippedEmailBcc"  value="manoj.shrivastava@sofmen.com"/>
  <add key="StaffExpressServiceProductShippedTemplate" value="535AAAEB-D599-4A1B-A8E8-A10417327C59"/>

  <!--Image Upload service product shipped settings-->
  <add key="ImageUploadServiceOrderShippedEmailCc"  value="manoj.shrivastava@sofmen.com"/>
  <add key="ImageUploadServiceOrderShippedEmailBcc"  value="manoj.shrivastava@sofmen.com"/>
  <add key="ImageUploadServiceProductShippedTemplate" value="AA12A314-8323-4822-B00F-EE4CA2FD0F61"/>

  <!--Image fulfil by settings-->
  <add key ="FulfillBy" value="MugsyClicks,Baylab" />

  <!--Action Task Notification Email settings-->
  <add key="ActionTaskNotificationEmailCc"  value="karuna.soni@sofmen.com"/>
  <add key="ActionTaskNotificationEmailReplyTo"  value="karuna.soni@sofmen.com"/>
  <add key="ActionTaskNotificationEmailTemplate" value="142AE0BB-40C6-4E6E-AA46-740580E93228"/>
  <!--Agreement Approval email settings-->
  <add key="AgreementApprovalEmailFrom"  value="Accounts@mugsyclicks.com"/>
  <add key="RetakeProductId" value="3b8bbe39-9776-4111-9d38-d65c87eb8589"/>
  <!--Staff Delete Email-->
  <add key="StaffDeleteEmail" value="166b1c04-2158-45d0-b03a-3d933d592df6"/>
  <add key="InvoiceEmailFrom" value="mahesh.soni@sofmen.com"/>
  <add key="InvoiceEmailFromName" value="mahesh.soni@sofmen.com"/>
  <add key="InvoiceEmailFromName" value="mahesh.soni@sofmen.com"/>
  <add key="VidepPathAfterConverter" value="E:\MugsyVideo" />
  <add key="VidepPathBeforeConverter" value="E:\MugsyVideo\Convert" />
  <add key="InvoiceEmailFromName" value="mahesh.soni@sofmen.com"/>

  <!--Below Keys Defines Blog Header image path and Footer content is define in file(Location/BlogFooterTextData.txt)-->
  <add key="AdminBlogHeaderImgPath" value="../images/BlogHeader.png" />
  <!--"Customer Service Complementary Retake-->
  <add key="CustomerServiComplementaryRetakeEmailId" value="E143BB60-029C-46C5-BA3C-1238F8D1DC10"  />

  <!--"refund Bookkeeper Email-->
  <add key="RefundBookkeeperEmail" value="333FDF62-2158-4C49-BCF5-00A7915EED6D"  />
  <add key="RefundLogPageLink" value="http://localhost:51303/reports/RefundLogReport.aspx?id="  />


  <add key="ImageImportPrefix" value="xhr"/>
  <add key="ImageImportPrefixSearchCode" value="kk"/>

  <add key="OrderEmailReplyTo" value="faisal.shaikh@sofmen.com" />
  <add key="ReshootProduct" value="3b8bbe39-9776-4111-9d38-d65c87eb8589"/>
  <add key="RetakeConfirmationEmailKey" value="8B89CF89-5E48-456C-B3F8-B01128576482"/>
  <add key="AutoEmail" value="mugsyauto@test.com"/>
  <add key="TaskTodoEmailTemplateId" value="0c7e8674-2ad2-787d-b900-da48a8328d97"/>
  <add key="DefaultContactTypes" value="09054ADF-EEF4-4065-AE3A-3C4BCB29F2C3,1238F1AA-C8B7-444D-B789-FFF0D75B0E66,711F0036-16FE-4704-AA8C-A37BEF73C123,1B7B8F8B-35A3-4A26-A69C-A10934B0EA30,4531870B-04AA-46C4-841F-CD413961B123"/>
  <add key="UserIdPhotogHqts" value="4db35e89-1a24-416c-a88e-8164e9e2771e"/>
  <add key="PrepayOrderEmailTemplate" value="302ea8b4-92d3-4c6c-a364-55c640658535"/>
  <add key="HelpLinkHeaderUrluserRole" value="Super Admin"/>
  <add key="ImageReviewToEmailAddress" value="Jarreau@MugsyClicks.com,Janet@MugsyClicks.com"/>

  <add key="ImageReviewBucketName" value="LocationManager"/>
  <add key="ImageReviewFolderName" value="ImageReviewAttachment"/>


  <add key="SchoolStaffFromAddress" value=""/>
  <add key="DefaultSMTPEmail" value=""/>
  <add key="SchoolStaffReplyToAddress" value=""/>
  <add key ="SelfieIDAdminSettingsChangeEmailTemplateID" value="8b4516f8-aad9-48bb-b6c5-855b35bd83a6"/>
  <add key="MugsyIDDirectoryPath" value="~/temp"/>
  <add key ="ImageReplacementServiceProductID" value="56E8A655-3035-4C65-A57D-1CCE8D9C673D"/>
  <add key="PaperPictorialDirectoryServiceProdID" value="a484542a-f4fb-4caf-8871-9f1431745658"/>

  <add key="ApplicationId" value="0E2F5B05-7374-4094-82C6-340B2B21F15B"/>
  <add key="IDCardRequest" value="A2215587-F964-41FF-B56B-04E3049A44E4"/>
  <add key="IDCardPath" value="http://localhost:20284/selfieID/idcard/default.aspx"/>
  <add key="IDCardServiceEmailFrom" value="mugsyID@mugsyclicks.com"/>

  <add key="MugsyIDSubjDataReqTempID" value="02D65E0A-1E87-4AE7-840D-543572443BDB"/>
  <add key="MugsyIDAdminDataConfirmTempID" value="5022B19F-F6F3-4691-A9D7-AA675DF24DB6"/>
  <add key="SchoolAttributeCode" value="SchoolName"/>

  <add key="ImageConverterToolPath" value="E:\imagegenerator\"/>
  <add key ="CustomerServiceReOrderAccessRoles" value="Super Admin"/>
  <add key="TaskTodoEmailCategoryId" value="0C6D02ED-FB50-23F8-9034-70F8221DBDD0" />
  <add key="SalesContactTypeIds" value="996F3893-9F92-430D-B3C7-AF44F8FF18CA,7D4AE356-FC30-4358-BBC2-93A104E8F96C,EC5D4367-508F-47C1-BA65-5481859AD0D5,5B8FAF7A-DF65-48FE-8830-37AD4DE45167" />
  <add key="RebookRequest" value="5507EE49-4024-42C8-A515-16BC323837A5"/>
  <add key="DataConfirmation" value="5507EE49-4024-42C8-A515-16BC323837A6"/>
  <add key="AgreementRequest" value="5507EE49-4024-42C8-A515-16BC323837A7"/>

   <add key="MugsyIdPhotoProgramVal" value="7"/>
  <add key="MugsyIdJobTypeVal" value="21"/>
<add key="EmailTemplateIdQualityControlNotice" value="c5ef506e-c6d3-4f82-bd34-88e9bb7bfb9d"/>

  <add key="BookingEmailFrom" value="Accounts@mugsyclicks.com"/>
  <add key="ProposedDates" value="5507EE49-4024-42C8-A515-16BC323837A9" />
</appSettings>