<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!-- local-->
   <add name="Ecommerce" connectionString="Data Source=DESKTOP-3A2G79F;Initial Catalog=PhotoAppCommerce;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=DESKTOP-3A2G79F;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=DESKTOP-3A2G79F;Initial Catalog=PhotoApp;Integrated Security=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=DESKTOP-3A2G79F;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />

  <!--Dev-->

  <!--<add name="Ecommerce" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoAppCommerce;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />-->


  <!-- Testing -->
  <!--<add name="Ecommerce" connectionString="Data Source=183.182.86.206;Initial Catalog=PhotoAppCommerce;User ID=sofmen; Password=s0fm3n3@Mugsy;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=183.182.86.206;Initial Catalog=PhotoApp;User ID=sofmen; Password=s0fm3n3@Mugsy;" providerName="System.Data.SqlClient" />-->

  <!-- dev db-->
  <!--<add name="Ecommerce" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoAppCommerce; User ID=mugsyclick_web; Password=vE9a9rEk; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="Site" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoApp-OCT212013; User ID=mugsyclick_web; Password=vE9a9rEk; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200;" providerName="System.Data.SqlClient" />-->



  <!-- Live Production old server-->
  <!--<add name="Ecommerce" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoAppCommerce;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  -->
  <!-- New DB Server -->

  <!--<add name="Ecommerce" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoAppCommerce;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>