<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!-- These live on ABT Servers -->
  <add name="Ecommerce" connectionString="Server=localhost; Initial Catalog=PhotoAppCommerce; User ID=sa; Password=halmel69;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Server=localhost; Initial Catalog=PhotoApp; User ID=sa; Password=halmel69;" providerName="System.Data.SqlClient" />

</connectionStrings>
