<?xml version="1.0"?>
<configuration>
  <!-- ADMIN web.config -->
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings configSource="AppSettingsSM_Dev_Admin.config"/>
  <!--<connectionStrings configSource="ConnectionStrings.config"/>-->
  <connectionStrings configSource="ConnectionStringsSM_Dev_Admin.config"/>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.gmail.com" password="mugshots08" port="25" userName="noreply@mugsyclicks.com"/>-->
        <network host="smtp.gmail.com" password="Pronob123" port="587" userName="pronob.mukharjee@sofmen.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="PhotoApp.Service.TraceExtension, PhotoApp.Service" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <pages theme="DefaultTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="np" namespace="NovelProjects.Web" assembly="NovelProjects.Web.Validators"/>
        <add tagPrefix="NPLibrary" namespace="NovelProjects.Web" assembly="NovelProjects.Web.Controls"/>
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
        <add tagPrefix="admin" tagName="CampaignLog" src="~/controls/EmailCampaignAssociationLog.ascx"/>
        <add tagPrefix="admin" tagName="JobEmail" src="~/controls/AdminJobConfirmationEmail.ascx"/>
        <add tagPrefix="admin" tagName="PrimaryContact" src="~/controls/PrimaryContactDetail.ascx"/>
        <add tagPrefix="admin" tagName="EstStudentStaffGroup" src="~/controls/EstNoOfStudentStaffEdit.ascx"/>
        <add tagPrefix="admin" tagName="JobManagementLinks" src="~/controls/JobManagementLinks.ascx"/>
        <add tagPrefix="admin" tagName="JobImageUploadDate" src="~/controls/JobImageUploadDate.ascx"/>
        <add tagPrefix="admin" tagName="AgreementApprovalLog" src="~/controls/AgreementApprovalEmailLog.ascx"/>
        <add tagPrefix="admin" tagName="ServiceOrderDetail" src="~/controls/ServiceOrderDetail.ascx"/>
        <add tagPrefix="admin" tagName="RetakeDeadline" src="~/controls/RetakeDeadline.ascx"/>
        <add tagPrefix="admin" tagName="TriggerDate" src="~/controls/TriggerDates.ascx"/>
        <add tagPrefix="admin" tagName="SubjectDataField" src="~/controls/subject_data_import_fields.ascx"/>
        <add tagPrefix="admin" tagName="helpLink" src="~/controls/HelpLink.ascx"/>
        <add tagPrefix="admin" tagName="mobileImageSetup" src="~/controls/MobileImageSetup.ascx"/>
      </controls>
      <namespaces>
        <add namespace="PhotoApp.Web.Ecommerce"/>
      </namespaces>
    </pages>
    <!-- Max execution time - 100 hours  |  Max file size upload - 300MB -->
    <httpRuntime executionTimeout="360000" maxRequestLength="1048576" requestValidationMode="2.0"/>
    <!-- Session setup -->
    <!--<sessionState mode="StateServer" cookieless="false" stateConnectionString="tcpip=localhost:42424" timeout="480" />-->
    <sessionState mode="InProc" cookieless="false" timeout="2880"/>
    <customErrors mode="Off" defaultRedirect="~/error/unexpected.aspx">
      <error statusCode="404" redirect="~/error/404.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- START : User Management -->
    <authentication mode="Forms">
      <forms name="PhotoAppAuth" loginUrl="~/login.aspx" defaultUrl="index.aspx" timeout="2880" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <roleManager defaultProvider="CustomizedRoleProvider" enabled="true" cacheRolesInCookie="false" cookieName=".ASPXROLES" cookieTimeout="2880" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Ecommerce" applicationName="Mugshots"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Ecommerce" enablePasswordRetrieval="True" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" passwordFormat="Clear" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" applicationName="Mugshots"/>
      </providers>
    </membership>
    <!-- END : User Management -->
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
  </system.web>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="orders/BayStatusUpdate.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="Wildcard"/>
      <!--<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Script"/>-->
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Site"/>
  </elmah>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
        <binding name="ImageServicesSoap" />
        <binding name="BasicHttpBinding_IServiceOrderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MugsyEmailService/EmailService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="MugsyEmailService.IEmailService" name="BasicHttpBinding_IEmailService" />
      <endpoint address="http://localhost:51013/ImageServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ImageServicesSoap"
        contract="ImageMatchService.ImageServicesSoap" name="ImageServicesSoap" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MugsyEmailService/ServiceOrderService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOrderService"
        contract="ServiceOrderEmailSrvs.IServiceOrderService" name="BasicHttpBinding_IServiceOrderService" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration>