<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SiteName" value="Tax Calculation Webservice"/>
    <add key="FromEmail" value="support@novelprojects.com"/>
    <add key="FromEmailName" value="NovelProjects Support"/>
    <add key="ToEmail" value="developers@novelprojects.com"/>
		<add key="UseSSL" value="True"/>
		<add key="IgnoreHosts" value="localhost, novel, testing.novelprojects.com"/>
	</appSettings>
	<connectionStrings>
		<add name="Taxes" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=np_global; User ID=np_global; Password=08novel08;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
		<!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<webServices>
			<conformanceWarnings>
				<remove name="BasicProfile1_1"/>
			</conformanceWarnings>
		</webServices>
	</system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" password="novel08!" port="25" userName="support@novelprojects.com" />
      </smtp>
    </mailSettings>
  </system.net>
  
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
</configuration>
