<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Taxes" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=np_global; User ID=np_global; Password=08novel08;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Taxes" connectionString="Data Source=(local);Initial Catalog=PhotoAppTaxes;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Taxes" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoApp_dev; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhotoApp.Web.Ecommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhotoApp.Web.Ecommerce.Properties.Settings>
            <setting name="PhotoApp_Web_Ecommerce_AuthorizeNetAPI_Service" serializeAs="String">
                <value>https://api.authorize.net/soap/v1/Service.asmx</value>
            </setting>
            <setting name="PhotoApp_Web_Ecommerce_TaxCalculation1_TaxCalculation" serializeAs="String">
                <value>http://webservices.novelprojects.com/taxes/index.asmx</value>
            </setting>
        </PhotoApp.Web.Ecommerce.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
