<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!-- These are local to the development environment -->
  <!--<add name="Ecommerce" connectionString="Data Source=(local);Initial Catalog=PhotoAppCommerce;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=(local);Initial Catalog=PhotoApp;Integrated Security=True;" providerName="System.Data.SqlClient" />-->

  <!-- local-->
  <add name="Ecommerce" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoAppCommerce;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoApp;Integrated Security=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS     ;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />

</connectionStrings>