<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EcommerceConnectionString" value="Ecommerce"/>
    <add key="PhotoAppConnectionString" value="Site"/>
    <!--error emails -->
    <add key="SiteName" value="services.mugsyclicks.com" lockItem="true"/>
    <add key="FromEmail" value="pronob.mukharjee@sofmen.com"/>
    <add key="ToEmail" value="jayanti.roy@sofmen.com"/>
    <add key="UseSSL" value="True"/>
    <add key="SupressCodes" value="404" lockItem="true"/>
    <add key="IgnoreErrors" value="System.IO.FileNotFoundException" lockItem="true"/>
    <add key="server" value="live" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" password="8N5929" port="25" userName="noreply@mugsyclicks.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms"/>
    <!-- Max execution time - 10 hours  |  Max file size upload - 300MB -->
    <httpRuntime executionTimeout="36000" maxRequestLength="307200"/>
    <roleManager defaultProvider="CustomizedRoleProvider" enabled="true" cacheRolesInCookie="false" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Ecommerce" applicationName="Mugshots"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Ecommerce" enablePasswordRetrieval="True" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" passwordFormat="Clear" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" applicationName="Mugshots"/>
      </providers>
    </membership>
    <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--<system.webServer>
    <defaultDocument>
      <files>
        <add value="UploadServices.asmx"/>
        <add value="ImageServices.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>-->
  <system.webServer>
    <handlers>
      <remove name="Wildcard"/>
    </handlers>
  </system.webServer>
</configuration>