<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!-- These live on ABT Servers -->
  <add name="Ecommerce" connectionString="Server=sql1.atlanticbt.com,4433; Initial Catalog=mugsycommercedev; User ID=mugsyclickdev_web; Password=ka3ebRAb;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Server=sql1.atlanticbt.com,4433; Initial Catalog=mugsyappdev; User ID=mugsyclickdev_web; Password=ka3ebRAb;" providerName="System.Data.SqlClient" />
  
</connectionStrings>