<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!-- These live on ABT Servers -->
  <!--<add name="Ecommerce" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoAppCommerce; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoApp; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />-->

  <!-- local-->
<!--  <add name="Ecommerce" connectionString="Data Source=(local);Initial Catalog=PhotoAppCommerce;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=(local);Initial Catalog=PhotoApp;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=(local);Initial Catalog=PhotoApp;Integrated Security=True;" providerName="System.Data.SqlClient" />
-->

  <!-- Testing -->

  <!--<add name="Ecommerce" connectionString="Data Source=183.182.86.206;Initial Catalog=PhotoAppCommerce;User ID=sofmen; Password=s0fm3n3@Mugsy;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=183.182.86.206;Initial Catalog=PhotoApp;User ID=sofmen; Password=s0fm3n3@Mugsy;" providerName="System.Data.SqlClient" />-->
  <!-- dev db-->
  <!-- new dev db's-->
 <add name="Ecommerce" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoAppCommerce_dev; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoApp_dev; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoApp_dev; User ID=mugsyclick_web; Password=vE9a9rEk;" providerName="System.Data.SqlClient" />

  <!-- old dev db's -->
  <!--<add name="Ecommerce" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoAppCommerceDev; User ID=mugsyclickdev_web; Password=ka3ebRAb;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Server=unreal.novelprojects.com\sql2005; Initial Catalog=PhotoAppDev; User ID=mugsyclickdev_web; Password=ka3ebRAb;" providerName="System.Data.SqlClient" />-->
  
  
</connectionStrings>