<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Interval" value="60000" />
    <add key="CalendarSyncInterval" value="60000" />
    <add key="MugsyEmailServiceInterval" value="600" />
    <add key="IsCallMugsyEmailService" value="false" />
    <add key="BayPhotoStatusXmlPath" value="C:\_HSC\MugsyClicks\Bay\" />
    <!--Test FTP Server-->
    <add key="BayPhotoFTPServer" value="ftp://mugsydb.cloudapp.net/BayFTP/" />
    <add key="BayPhotoFTPUser" value="MugsyDBAdmin" />
    <add key="BayPhotoFTPPassword" value="15MugDB@Admin!" />
    <add key="EcommerceConnectionString" value="Ecommerce" />
    <add key="PhotoAppConnectionString" value="Site" />
    <add key="DigitalPhotosNames" value="BAY_UNIT_DIGIFILE_HRDB1,BAY_UNIT_DIGIFILE_HRDB2,BAY_UNIT_DIGIFILE_HRDB6,BAY_UNIT_DIGIFILE_LRDB1,BAY_UNIT_DIGIFILE_LRDB2,BAY_UNIT_DIGIFILE_LRDB6,RETOUCH_Basic,Retouch_Eyes,RETOUCH_Makeover,BAY_DIGIFILE_HRCD1,BAY_DIGIFILE_HRCD2,BAY_DIGIFILE_HRCD6,BAY_UNIT_DIGIFILE_HRCD1,BAY_UNIT_DIGIFILE_HRCD2,BAY_UNIT_DIGIFILE_HRCD6,BAY_DIGIFILE_HRDB1,BAY_DIGIFILE_HRDB2,BAY_DIGIFILE_HRDB6,BAY_DIGIFILE_LRDB1,BAY_DIGIFILE_LRDB2,BAY_DIGIFILE_LRDB6" />
    <!--Email Keys Start-->
    <add key="FromEmail" value="manoj.shrivastava@sofmen.com" />
    <add key="ErrorEmailAddresses" value="manoj.shrivastava@sofmen.com" />
    <!--Email Keys End-->
    <!--Calendars Key Start-->
    <add key="CalendarId" value="sofmen.com_nfuqptf7clo1t4ocem8ir7j0gg@group.calendar.google.com" />
    <add key="p2FileName" value="MugsyCalender-6fb9d24a4b1d.p12" />
    <add key="p2ClientId" value="mugsydevtestcalendar@mugsycalender.iam.gserviceaccount.com" />
    <add key="p2FilePassword" value="notasecret" />
    <add key="CalendarApplicationName" value="MugsyDevTestCalendar" />
    <add key="CalendarUserName" value="mahesh.soni@sofmen.com" />
    <add key="isCalenderActive" value="True" />
    <add key="ByUserId" value="b5387c0a-398a-4bb0-9317-1a0cc3f6dc46" />
    <!--Calendars Key End-->
    <!--New keyies are added for subject data dictionary-->
    <add key="DirServiceCallAt" value="50000" />
    <add key="ApplicationId" value="0E2F5B05-7374-4094-82C6-340B2B21F15B" />
    <add key="DirectoryLocation" value="C:\SubjectDataPDF" />
    <add key="EmptyImageUrl" value="http://dev.mugsyclicks.com/images/nophoto.jpg" />
    <add key="GiftProductKeyName" value="BAY_Boutique_810" />
    <!--Bay xml post api key-->
    <add key="BayUriKey" value="https://order-api.bayphoto.com/api/bayxml/orders.xml" />
    <add key="Token" value="Token token=3cda96546dca3fd470f10bf35f8364b6" />
    <!-- Process Catalog Pricing -->
    <add key="TriggerCatalogPricingService" value="false" />
    <add key="AddOnDaysForYearlyProcessEvent" value="0" />
    <!--Additional days to run service after 1st july -->
    <add key="MugsyCatalogPricingServiceTimeInterval" value="43200000" />
    <add key="GracePeriodForCatalogChange" value="2" />
    <add key="AutolinkServiceTriggerAt" value="120000" />
    <add key="OrderNumberPreFix" value="P" />
    <!-- Reminder SMS Service   -->
    <add key="SMSStaffScheduleTimeInterval" value="1" />
    <add key="SMSStaffScheduleTimeIntervalInMinutes" value="30" />
    <add key="TriggerSMSStaffSchedulingService" value="false" />
    <add key="ReminderSMSTriggerTime" value="07 AM" />
    <!-- Xceed Zip and process primary image download settings -->
    <add key="xceedziplicence" value="ZIN23-BFU6T-SKUFK-U42A" />
    <add key="xceedziptemporaryfolder" value="e:\primaryimagerequest\" />
    <add key="ImageBucketName" value="photoapp" />
    <add key="RequestFulfilmentBucketName" value="requestfulfilment" />
    <add key="S3AccessKey" value="AKIAI475R2SRYG565MNA" />
    <add key="S3AccessSecret" value="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" />
    <add key="s3BucketName" value="photoapp" />
    <add key="PrimaryDownloadFromEmail" value="info@mugsyclicks.com" />
    <add key="FrontBaseURL" value="http://localhost:20284/web" />
    <!-- Services to serve on deployment keys -->
    <add key="RUN_BAY_ORDER_SERVICE" value="false" />
    <add key="RUN_CALENDAR_EVENT_SERVICE" value="false" />
    <add key="RUN_EMAIL_SERVICE" value="false" />
    <add key="RUN_SUBJECT_DATA_PDF_SERVICE" value="false" />
    <add key="RUN_CATALOG_AUTO_CHANGE_SERVICE" value="false" />
    <add key="RUN_GALLERY_AUTOLINK_SERVICE" value="false" />
    <add key="RUN_STAFFING_SMS_SERVICE" value="false" />
    <add key="RUN_YEARBOOK_PSPAi_SERVICE" value="true"/>
    <!--ToDo Email service Keys-->
    <add key="RUN_TODOEMAIL_SERVICE" value="false" />
    <add key="TodoEmailServiceInterval" value="12000" />
    <add key="SendReminderBefore" value="1" />
    <!-- BAY PREV YEAR IMAGE IMPORT FTP UPLOAD -->
    <add key="ImageUploadBayLabFTPServer" value="ftp://mugsydb.cloudapp.net/BayFTP/" />
    <add key="ImageUploadBayLabFTPUserName" value="MugsyDBAdmin" />
    <add key="ImageUploadBayLabFTPPassword" value="15MugDB@Admin!" />
    <add key="ImageUploadBayLabFTPEmailTemplatedId" value="b5387c0a-398a-4bb0-9317-1a0cc3f6dc46" />
    <add key="ImageUploadBayLabFTPEmailTo" value="pronob.mukharjee@sofmen.com" />
    <add key="ImageUploadBayLabFTPEmailFrom" value="info@mugsyclicks.com" />
    <add key="ImageImportPrefix" value="{0}-Xprs-" />
    <add key="ImageImportPrefixSearchCode" value="-Xprs-"/>
    <!--<add key="ImageUploadBayLabFTPServer" value="ftp://mugsyschools.bayphoto.com" />
    <add key="ImageUploadBayLabFTPUserName" value="mugsyschools" />
    <add key="ImageUploadBayLabFTPPassword" value="4LindasPhotogs" />-->
    <add key="YearBookLocation" value="C:\sp-training" />
    <add key="Digital YearBook Service Email" value="8A7460DC-B199-4FCD-A74C-212CE0ED248C" />
    <add key ="EndPointYearBookEmail" value="http://localhost:20284/"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="DigitalYearBook NotPhotographed" value="NotPhotographed"/>
    <add key ="DigitalYearBook DefaultSort" value="GRADE"/>

    <add key="YBS3AccessKey" value="AKIAI475R2SRYG565MNA" />
    <add key="YBS3AccessSecret" value="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" />
    <add key="YBs3BucketName" value="devphotoapp" />
    <add key="YBs3SubBucketName" value="school"/>

    <!--Task Todo scheduler service-->
    <add key="RUN_TASKTODOSERVICE" value="true"/>
    <add key="TaskTodoIntervalMilliSec" value="30000"/>
    <add key="TodoSrvTriggerTimes" value="01:10PM,01:20PM"/>
    <add key="AllowToSendEmailToPrimaryContact" value="false"/>
    <add key="AdminDiscEmailTemplate" value="8A7460DC-B199-4FCD-A74C-212CE0ED248D"/>
    <add key="IDCardRequest" value="A2215587-F964-41FF-B56B-04E3049A44E4"/>
    <add key="IDCardPath" value="http://localhost:20284/idcard/default.aspx"/>
    <add key="RUN_IDCard_SERVICE" value="false"/>
    <add key="IDCardServiceEmailFrom" value="Manoj@sofmem.com"/>
    <add key="RUN_RETAKESERVICE" value="true"/>
    <add key="ReshootProduct" value="004712BA-DF05-4A9B-B152-EC869FFAFECC"/>
  </appSettings>
  <connectionStrings>
    <!-- local  -->
    <!--<add name="Ecommerce" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoAppCommerce;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Site" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Taxes" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoApp;Integrated Security=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="CountryAndStatesConnectionString" connectionString="Data Source=DESKTOP-6MFKK4F\SQLEXPRESS;Initial Catalog=PhotoApp;Integrated Security=True; Connection Timeout=1800;Pooling=true; Min Pool Size=20; Max Pool Size=200; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />-->

    <!--<add name="Ecommerce" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoAppCommerce;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Site" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="Taxes" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="CountryAndStatesConnectionString" connectionString="Data Source=mugsydb.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=D8@Min!4; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />-->
    <!-- dev  -->
    <add name="Ecommerce" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoAppCommerce;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Site" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Taxes" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="CountryAndStatesConnectionString" connectionString="Data Source=mugsyDev.cloudapp.net;Initial Catalog=PhotoApp;User ID=mugsydev; Password=@minD3V14!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
        <binding name="BasicHttpBinding_IEmailService1" />
        <binding name="BasicHttpBinding_IEmailService2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MugsyEmailService/EmailService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="MugsyEmailService.IEmailService" name="BasicHttpBinding_IEmailService" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MugsyEmailService/EmailService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService1" contract="MugsyEmailService.IEmailService" name="BasicHttpBinding_IEmailService1" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MugsyEmailService/EmailService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService2" contract="MugsyEmailService.IEmailService" name="BasicHttpBinding_IEmailService2" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>