<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Interval" value="90000"/>
    <add key="CalendarSyncInterval" value="3600000"/>
    <add key="BayPhotoStatusXmlPath" value="C:\MugsyDeployment\bayphoto"/>
    <!--Test FTP Server-->

    <add key="MugsyEmailServiceInterval" value="600000"/>
    <add key="IsCallMugsyEmailService" value="true"/>

    <add key="BayPhotoFTPServer" value="ftp://mugsy.bayphoto.com" />
    <add key="BayPhotoFTPUser" value="mugsuser"/>
    <add key="BayPhotoFTPPassword" value="MUg$yFtPCl1ck$1"/>

    <add key="EcommerceConnectionString" value="Ecommerce" />
    <add key="PhotoAppConnectionString" value="Site" />
    <add key="DigitalPhotosNames" value="BAY_UNIT_DIGIFILE_HRDB1,BAY_UNIT_DIGIFILE_HRDB2,BAY_UNIT_DIGIFILE_HRDB6,BAY_UNIT_DIGIFILE_LRDB1,BAY_UNIT_DIGIFILE_LRDB2,BAY_UNIT_DIGIFILE_LRDB6,RETOUCH_Basic,Retouch_Eyes,RETOUCH_Makeover,BAY_DIGIFILE_HRCD1,BAY_DIGIFILE_HRCD2,BAY_DIGIFILE_HRCD6,BAY_UNIT_DIGIFILE_HRCD1,BAY_UNIT_DIGIFILE_HRCD2,BAY_UNIT_DIGIFILE_HRCD6,BAY_DIGIFILE_HRDB1,BAY_DIGIFILE_HRDB2,BAY_DIGIFILE_HRDB6,BAY_DIGIFILE_LRDB1,BAY_DIGIFILE_LRDB2,BAY_DIGIFILE_LRDB6" />
    <!--Email Keys Start-->
    <add key="FromEmail" value="pronob.mukharjee@sofmen.com" />
    <add key="ErrorEmailAddresses" value="pronob.mukharjee@sofmen.com"/>
    <!--Email Keys End-->

    <!--Calendars Key Start-->
    <add key="CalendarId" value="mugsyclicks.com_l5d3mb1nh0i9fqsuap2hfqkpc8@group.calendar.google.com"/>
    <add key="p2FileName" value="Dev Mugsy Test-e5509ed9e31d.p12"/>
    <add key="p2ClientId" value="account-1@dev-mugsy-test.iam.gserviceaccount.com"/>
    <add key="p2FilePassword" value="notasecret"/>
    <add key="CalendarApplicationName" value="MugsyDevTestCalendar"/>
    <add key="CalendarUserName" value="hostmaster@mugsyclicks.com"/>
    <add key="isCalenderActive" value="False"/>
    <add key="ByUserId" value="1e34db74-2647-42eb-8579-e221502bcb32"/>

    <add key="IsOnlyDetail" value="false" />
    <!--New keyies are added for subject data dictionary-->

    <add key="DirServiceCallAt" value="180000"/>

    <add key="ApplicationId" value="0E2F5B05-7374-4094-82C6-340B2B21F15B"/>

    <add key="DirectoryLocation" value="D:\SubjectDataPDF"/>

    <add key="EmptyImageUrl" value="http://mugsyclicks.com/images/nophoto.jpg"/>
    <add key="GiftProductKeyName" value="BAY_Boutique_810"/>
    <!--Bay xml post api key-->
    <add key="BayUriKey" value="https://order-api.bayphoto.com/api/bayxml/orders.xml"/>
    <add key="Token" value="Token token=3e605a31dadbf54748b6e8fa77fc7747"/>
    <add key="AutolinkServiceTriggerAt" value="10000"/>
    <add key="OrderNumberPreFix" value="P"/>
    <add key="SMSStaffScheduleTimeInterval" value="1"/>
    <add key="TriggerSMSStaffSchedulingService" value="true"/>

    <!-- Xceed Zip and process primary image download settings -->
    <add key="xceedziplicence" value="ZIN23-BFU6T-SKUFK-U42A" />
    <add key="xceedziptemporaryfolder" value="d:\primaryimagerequest\" />
    <add key="ImageBucketName" value="photoapp" />
    <add key="RequestFulfilmentBucketName" value="requestfulfilment" />
    <add key="S3AccessKey" value="AKIAI475R2SRYG565MNA" />
    <add key="S3AccessSecret" value="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" />
    <add key="PrimaryDownloadFromEmail" value="info@mugsyclicks.com"/>
    <add key="FrontBaseURL" value="https://www.mugsyclicks.com"/>
    <add key="DBLogEntry" value="false"/>
    <add key="s3BucketName" value="photoapp" />

    <!-- Process Catalog Pricing -->
    <add key="TriggerCatalogPricingService" value="True" />
    <add key="AddOnDaysForYearlyProcessEvent" value="0" />
    <!--Additional days to run service after 1st july -->
    <add key="MugsyCatalogPricingServiceTimeInterval" value="43200000" />
    <add key="GracePeriodForCatalogChange" value="2" />

    <!-- Services to serve on deployment keys -->
    <add key="RUN_BAY_ORDER_SERVICE" value="true"/>
    <add key="RUN_CALENDAR_EVENT_SERVICE" value="true"/>
    <add key="RUN_EMAIL_SERVICE" value="true"/>
    <add key="RUN_SUBJECT_DATA_PDF_SERVICE" value="true"/>
    <add key="RUN_CATALOG_AUTO_CHANGE_SERVICE" value="false"/>
    <add key="RUN_GALLERY_AUTOLINK_SERVICE" value="true"/>
    <add key="RUN_STAFFING_SMS_SERVICE" value="true"/>
    <add key="RUN_TODOEMAIL_SERVICE" value="false"/>
    <add key="TodoEmailServiceInterval" value="12000"/>
    <add key="SendReminderBefore" value="1"/>
    <add key="SMSStaffScheduleTimeIntervalInMinutes" value="10" />
    <add key="ReminderSMSTriggerTime" value="07 AM"/>

    <!-- BAY PREV YEAR IMAGE IMPORT FTP UPLOAD -->
    <!--<add key="ImageUploadBayLabFTPServer" value="ftp://mugsydb.cloudapp.net/BayFTP/" />   
	<add key="ImageUploadBayLabFTPUserName" value="MugsyDBAdmin" />
    <add key="ImageUploadBayLabFTPPassword" value="15MugDB@Admin!" />
	<add key="ImageUploadBayLabFTPEmailTo" value="Schools@Bayphoto.com,pronob.mukharjee@sofmen.com,prod_dept@mugsyclicks.com"/>
	-->
    <add key="ImageUploadBayLabFTPEmailTemplatedId" value="455527B7-3B1F-41D2-A635-D946655E13FC"/>
    <add key="ImageUploadBayLabFTPEmailTo" value="Schools@Bayphoto.com,pronob.mukharjee@sofmen.com,prod_dept@mugsyclicks.com"/>
    <add key="ImageUploadBayLabFTPEmailFrom" value="info@mugsyclicks.com"/>
    <add key="ImageImportPrefix" value="{0}-Xprs-" />
    <add key="ImageImportPrefixSearchCode" value="-Xprs-"/>
    <add key="ImageImportSecondPrefix" value="{0}X-"/>
    <add key="ImageUploadBayLabFTPServer" value="ftp://mugsyschools.bayphoto.com" />
    <add key="ImageUploadBayLabFTPUserName" value="mugsyschools" />
    <add key="ImageUploadBayLabFTPPassword" value="4LindasPhotogs" />

    <!--Staff Express Service Order Config Section-->
    <add key="StaffExprProductName" value="STAFF EXPRESS"/>
    <add key="StaffExprLabCode" value="STAFFEXPR"/>
    <add key="StaffExprServiceProductId" value="12A25587-f964-41ff-b56b-04e3049a44e1"/>
    <add key="STFExprInSystem" value="false"/>

    <add key="YearBookLocation" value="D:\PSPAiYearbookFiles" />
    <add key="Digital YearBook Service Email" value="8A7460DC-B199-4FCD-A74C-212CE0ED248C" />
    <add key ="EndPointYearBookEmail" value="https://www.mugsyclicks.com/"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="RUN_YEARBOOK_PSPAi_SERVICE" value="true"/>
    <add key="YBS3AccessKey" value="AKIAI475R2SRYG565MNA" />
    <add key="YBS3AccessSecret" value="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" />
    <add key="YBs3BucketName" value="mugsydashboarduploads" />
    <add key="YBs3SubBucketName" value="Schools"/>
    <!--Task Todo scheduler service-->
    <add key="RUN_TASKTODOSERVICE" value="true"/>
    <add key="TaskTodoIntervalMilliSec" value="30000"/>
    <!--<add key="TodoSrvTriggerTimes" value="06:00AM,06:00PM"/>-->
    <add key="TodoSrvTriggerTimes" value="11:16PM,06:00PM"/>

    <add key ="DigitalYearBook NotPhotographed" value="NotPhotographed"/>
    <add key ="DigitalYearBook DefaultSort" value="GRADE"/>
    <add key="AllowToSendEmailToPrimaryContact" value="true"/>
    <add key="YearbookServiceInterval" value="120000"/>
    <add key="AdminDiscEmailTemplate" value="8A7460DC-B199-4FCD-A74C-212CE0ED248D"/>
  </appSettings>
  <connectionStrings>
    <add name="Ecommerce" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoAppCommerce;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Site" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Taxes" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="np_global" connectionString="Data Source=51.143.110.140;Initial Catalog=np_global;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="CountryAndStatesConnectionString" connectionString="Data Source=51.143.110.140;Initial Catalog=PhotoApp;User ID=mugsyprod; Password=15MugDB@Admin!; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"  closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" textEncoding="utf-8" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://emailserviceslive.mugsyclicks.com/MugsyEmailService.EmailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="MugsyEmailService.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
</configuration>
