<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>

  <log4net debug="false">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\MugsyMobileAppLogData\" />
      <rollingStyle value="Date"/>
      <appendToFile value="true" />
      <param name="DatePattern" value="dd.MM.yyyy'.MobileSite.txt'" />
      <staticLogFileName value="false"/>
      <maximumFileSize value="5120KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%newline %date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="MugsyWebURL" value="http://localhost:20284/" />
    <add key="APIEndPoint" value="http://localhost:6525/api/Schools/" />
    <add key="APIBase" value="http://localhost:6525" />
    <add key="ReshootProduct" value="004712BA-DF05-4A9B-B152-EC869FFAFECC" />
    <add key="DeluxeProductId" value="a8fee54f-f128-48bd-b69a-c972df414717" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DeluxeProductId" value="a8fee54f-f128-48bd-b69a-c972df414717"/>
    <add key="CookieName" value="MugsyClicksMobile" lockItem="true" />
    <add key="MainDomain" value="http://mugsyclicks.local" lockItem="true" />

    <!--FTP Error EMail-->
    <add key="ErrorEmailAddresses" value="nayan.kharve@sofmen.com"/>
    <add key="IsPayCartMode" value="false" />
    <add key="SandBoxMode" value="true"/>
    <add key="PayPalEmail" value="manoj.shrivastava-facilitator@sofmen.com"/>
    <add key="PayPalSandBoxSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="NotifyURL" value="http://localhost:61209/Cart/PaymentSuccess"/>
    <add key="SuccessURL" value="http://localhost:61209/Cart/PaymentSuccess"/>
    <add key="FailedURL" value="http://localhost:61209/Cart/Home"/>
    <add key="PDTToken" value="bGPFAPoRJl4RLVOWh0_WC_jBGrjvwaaeODVZ-0vKV_0mOi6wEK51vJLYqAK"/>
    <add key="CustomerServiceEmail" value="manoj.shrivastava@sofmen.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="pradeep.yadav@sofmen.com" password="123456" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <!-- We use this setting when we want to set auto redirection from Http to Https
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  -->
</configuration>
